[submodule "components/esp-32-tm1637"]
	path = components/esp-32-tm1637
	url = https://github.com/petrows/esp-32-tm1637.git
[submodule "components/esp-idf-lib"]
	path = components/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
[submodule "components/sds011-esp-raw"]
	path = components/sds011-esp-raw
	url = git@github.com:kovagoz/sds011-esp-raw.git
	branch = fix-macro-definitions
