menu "Clock Configuration"

config CLOCK_WIFI_SSID
	string "WiFi SSID"

config CLOCK_WIFI_PASSWORD
	string "WiFi password"

config CLOCK_DISPLAY_CLK_PIN
    int "LED display CLK pin GPIO number"
    range 0 34
    default 18
    help
        GPIO number (IOxx) for CLK pin of TM1637 display.

        Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

        GPIOs 35-39 are input-only so cannot be used to drive the One Wire Bus.

        For ESP8266, GPIO 5 is a good choice.

config CLOCK_DISPLAY_DIO_PIN
    int "LED display DIO pin GPIO number"
    range 0 34
    default 19
    help
        GPIO number (IOxx) for DIO pin of TM1637 display.

        Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

        GPIOs 35-39 are input-only so cannot be used to drive the One Wire Bus.

        For ESP8266, GPIO 4 is a good choice.

config CLOCK_DISPLAY_BRIGHTNESS
	int "Set display brightness level"
	range 0 7
	default 1

endmenu
